<app-menu></app-menu>

<ion-content color="primarioApp">

    <div id="map"></div>

    <ion-tab-button class="fixed-bottom btn-infoModal animate__animated animate__bounce" (click)="presentModal()">
        <i class="fas fa-car fa-3x"></i>
    </ion-tab-button>

    <ion-button class="fixed-bottom m-0 p-0 animate__animated animate__pulse animate__fast" expand="full" color="success" size="large" (click)="addMyClass()"> 
        <p id="TextYaLlegue" class="animate__animated animate__bounceIn animate__fast">Ya llegue</p> 
    </ion-button>

</ion-content> 